app-cliente-cad {

  .container {
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
    max-width: 80vh;
  }

  .fullWidth {
    width: 100%;
  }

  .formfield-flex {
    display: flex;
    flex-direction: row;
  }

  img {
    height: 12rem;
    margin: auto;
  }

  .section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  button {
    margin-top: .5rem;
  }

  p {
    margin-top: 4rem;
    opacity: .5;
  }

  mat-icon {
    opacity: .8;
  }

}
