app-layout {

  .e-sidebar {
    margin-top: 55px;
  }

  .e-appbar {
    height: 55px;
    font-size: 16px;
    font-weight: 400;

    .e-appbar-spacer {
      padding-left: 10px;
    }
  }

  .dock {

    img {
      margin: .8rem auto 1rem auto;
    }

    .mdc-list {
      padding: 0px;
    }

  }

  .sidebar-item {

    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    cursor: pointer;

    .mat-icon {
      border: 1px solid white;
      border-radius: 4px;
    }

    .menu {
      font-size: 30px;
    }

  }

  .logout {
    padding-right: 15px;
  }

  a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .sidenav {

    &-off {

      img {
        height: 3.5rem !important;
        margin: 0.4rem auto 0rem auto !important;
      }

      mat-list-item {

        justify-content: center;

        a:-webkit-any-link {
          justify-content: center;
        }
      }

      .e-text {
        display: none;
      }
    }

    &-on {

      img {
        width: 100%;

      }

      mat-list-item {
        width: 100%;
        justify-content: start;
        padding-left: 20px;

      }

    }

  }

  mat-list-item:hover {
    background-color: rgb(206, 206, 206);
  }

}
